doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    style.
        body {
            font-family: 'Montserrat', sans-serif;
        }
        .text1 {
            font-family: 'Poppins', sans-serif;
            text-align: center;
            font-weight: 500;
            font-size: 26px;
            color: black;
            text-align: left;
        }
        .text11 {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 17px;
            line-height: 1.4;
            color: #787878;
            text-align: left;
        }
        .tabb {
            font-size: 0px; 
            width: 100%;    
        }
        .algg {
            text-align: center;
            vertical-align: top;
            direction: ltr;
            font-size: 0px;
        }
        .divvv {
            vertical-align: top;
            display: inline-block;
            direction: ltr;
            font-size: 13px;
            text-align: left;
            width: 100%;
        }
        .btnn {
            font-weight: 500;
            padding: 25px 30px;
            display: block;
            text-decoration: none;
            color: white;
            font-size: 18px;
            line-height: 8.79px;
            margin: 0px;
        }
        .tddd {
            text-align: center;
        }
        .divv2 {
            border-radius: 5px;
            background: #ef9128;
            margin: 0 auto;
        }
        .dvv3 {
            display: flex;
            margin-bottom: 10px;
            font-family: 'Poppins', sans-serif;
        }
        .dvv4 {
            margin: 0px auto; 
            max-width: 600px; 
            margin-top: 50px;
        }
        .td22 {
            text-align: center;
            vertical-align: top;
            direction: ltr;
            font-size: 0px;
        }
        .dvvi3 {
            vertical-align: top;
            display: inline-block;
            direction: ltr;
            font-size: 13px;
            text-align: left; width: 100%;
        }
        .tdd3 {
            word-wrap: break-word;
            font-size: 0px;
            padding: 0px 0px 30px 0px;
        }
        .text3 {
            font-size: 1px;
            margin: 0px auto;
            border-top: 3px solid #f5f5f5;
            width: 100%;
        }
  body
    .dvv4
        table.tabb
            tbody
                tr
                    td.algg
                        .divvv
                            table.tabb
                                tbody(style='line-height: 1;')
                                    tr(style='width: 100%;display:flex;')
                                        td(style='margin: 0 auto;')
                                            img(src='https://i.ibb.co/vZ0hxW5/logo.png')
                                    tr
                                        td(style='text-align: center;padding-top: 30px;padding-bottom:10px;')
                                            span.text1 Datos para la confirmaci&oacute;n del pago:
                                    tr
                                        td(style='text-align: center;')
                                            span.text11 Id de sesi&oacute;n: #{id}
                                    tr
                                        td(style='text-align: center;')
                                            span.text11 Token: #{token}
